basic_applications:
  - nano
  - git
  - docker-ce
  - docker-ce-cli
  - containerd.io
  - docker-compose-plugin
  - postgresql

basedir: /opt/agent

traefik:
  enabled: true
  secure: "{{ enablehttps }}"
  postmaster: certbot@muisit.nl
  expose: false

deployuser: gitlab+deploy-token-43
deploytoken: !vault |
             $ANSIBLE_VAULT;1.1;AES256
             66356166626332356561643739626332363230316538356563653366643166383461343237363562383937333138313561
             6661303166613335363262656636360a663932626432353561653237646164393732643865333064353439636162666332
             663234633536623832343338336564353265656665386462343936396263310a3237363562656264326335613264316231
             3432623561313666316537366634366662643239633432643830363138393234646364343563363737646362623032


sources:
  agent:
    repo: "https://github.com/eduwallet/veramo-agent.git"
    version: HEAD
  verifier:
    repo: "https://github.com/eduwallet/veramo-verifier.git"
    version: HEAD
  verifierdeploy:
    repo: "https://github.com/eduwallet/verifier-deploy.git"
    version: HEAD
  statuslist:
    repo: "https://github.com/eduwallet/statuslist-agent.git"
    version: HEAD
  itbservice:
    repo: "https://github.com/eduwallet/itb-service.git"
    version: HEAD
  configurations:
    repo: "https://{{ deployuser }}:{{ deploytoken }}@gitlab.surf.nl/eduwallet/agents-conf.git"
    version: HEAD
  manager:
    repo: "https://github.com/eduwallet/agentmanager.git"
    version: HEAD

docker:
  dir: "{{ basedir }}/docker"

configuration:
  dir: "{{ basedir }}/configuration"

agent:
  dir: "{{ docker.dir }}/issuer/app"
  script: "start:dev"
  hostname: "{{ basedomain }}"
  port: 5000
  host: "{{ protocol }}://agent.{{ basedomain }}"
  schema: agent
  extra_docker_compose_labels: [] # To add o.o additional traefik configuration in docker compose
  dbkey: !vault |
         $ANSIBLE_VAULT;1.1;AES256
         613138333438633365356562313765626263373936373561623332333236353735343636633062376463623231353365386632
         626534646336363265386539620a66636131333232353464303834363639306239373363393832346235653735363564383131
         6638373737363863363835623264343633623866646337653436640a3730653334646265306633353930623430303031666533
         646334343834623734643834316635386662316136393035376261353933626337383232383964393665663731313865303462
         38343065623530646162336236656339663564663131

verifier:
  dir: "{{ docker.dir }}/verifier/app"
  script: "dev"
  hostname: "{{ verifierdomain }}"
  port: 5002
  host: "{{ protocol }}://agent.{{ verifierdomain }}"
  schema: verifier
  extra_docker_compose_labels: [] # To add o.o additional traefik configuration in docker compose
  dbkey: !vault |
         $ANSIBLE_VAULT;1.1;AES256
         643935353937353239303937623639653538376630663932306636646530653732643238383063636264306264666231623061
         613262663135393562333537650a31626466633835313063613837613635343338393138653563623536393434646234353331
         3261643931656137326531363238643463306130386135643662310a6332613134336639636261346464646139366434363663
         393063316331356466663036623364646364313636646139363831386565663438393530323536653262626663396364393937
         62643035646664343539383630373733383930656562

statuslists:
  enabled: true
  domain: "status.{{ deploydomain }}"
  dir: "{{ docker.dir }}/statuslists/app"
  keytype: "Secp256r1"
  installations:
    - abcrevoke
    - aecrevoke
    - ietf
    - pidrevoke
  key: !vault |
       $ANSIBLE_VAULT;1.1;AES256
       64623836633330633464353936316533323532356366333661333635303834633938363531346135363638646432643666653861
       3035343331306234663966630a616364323366333661666336376439343138646665626465616238643834393530653130393237
       326530333063656530626433633338616166636366313131320a3132623735306332316230323339343162306131653337646538
       37323036646337383431653261663634666461313034653537623832343961663235626661396134303534313837363335343564
       39636432666130313531306463356332323935653934653863656362656636323136323337613965316232333832633839353538
       306361663865303966343536623565306562353537623735356233323636

itb:
  enabled: true
  dir: "{{ docker.dir }}/itb/app"
  domain: itb.dev.eduwallet.nl
  port: 5003

database:
  dir: "{{ basedir }}/database"
  port: 5001
  user: postgres
  name: postgres
  scripts: "{{ basedir }}/agent/scripts/dbinit"
  password: !vault |
            $ANSIBLE_VAULT;1.1;AES256
            32316666393534373962666266303663623938633838356132343731643231666464356264626237303339
            6265336337663166663035363035663065346463320a613734323539633230613034636563353762623034
            35343139366336613032663732646237383561343538373438306133316363363139313336623739306130
            0a363133356630373263663736396137643535643033613130623536386334613265323831303065643835
            32643637343539303064373636396463613231643861316464613461303337303265386530386332626664
            3437343734373764363130

manager:
  enabled: true
  dir: "{{ docker.dir }}/manager/app"
  domain: manager.dev.eduwallet.nl
  port: 5004
