{
  "format": "jwt_vc_json",
  "cryptographic_binding_methods_supported": ["did:jwk", "did:key"],
  "format": "jwt_vc_json",
  "cryptographic_suites_supported": ["ES256", "EdDSA"],
  "proof_types_supported": {
    "jwt": {
      "proof_signing_alg_values_supported": ["ES256"]
    }
  },
  "scope": "AcademicBaseCredential",
{%if false %}
  "order": [
      "sub",
      "eduperson_unique_id",
      "schac_home_organization",
      "name",
      "given_name",
      "family_name",
      "email",
      "eduperson_affiliation",
      "eduperson_scoped_affiliation",
      "eduperson_entitlement",
      "eduperson_assurance"
  ],
{% endif %}
  "display": [{
        "name": "Academic Base Credential",
        "description": "Basic credential indicating affiliation with an academic institute"
  }],
  "credential_definition": {
    "type": [
      "VerifiableCredential",
      "AcademicBaseCredential"
    ],
    "credentialSubject": {
      "sub": {
        "value_type": "string",
        "mandatory": true,
        "display": [
          {
            "name": "Institute ID"
          },
          {
            "name": "Institute ID",
            "locale": "en-US"
          },
          {
            "name": "Instellings ID",
            "locale": "nl-NL"
          }
        ]
      },
      "eduperson_unique_id": {
        "value_type": "string",
        "mandatory": true,
        "display": [
          {
            "name": "Unique ID"
          },
          {
            "name": "Unique ID",
            "locale": "en-US"
          },
          {
            "name": "Gebruikers-ID",
            "locale": "nl-NL"
          }
        ]
      },
      "schac_home_organization": {
        "value_type": "string",
        "mandatory": true,
        "display": [
          {
            "name": "Organization"
          },
          {
            "name": "Organization",
            "locale": "en-US"
          },
          {
            "name": "Organisatie",
            "locale": "nl-NL"
          }
        ]
      },
      "name": {
        "value_type": "string",
        "mandatory": true,
        "display": [
          {
            "name": "Full name"
          },
          {
            "name": "Full name",
            "locale": "en-US"
          },
          {
            "name": "Weergavenaam",
            "locale": "nl-NL"
          }
        ]
      },
      "given_name": {
        "value_type": "string",
        "mandatory": true,
        "display": [
          {
            "name": "Given name"
          },
          {
            "name": "Given name",
            "locale": "en-US"
          },
          {
            "name": "Voornaam",
            "locale": "nl-NL"
          }
        ]
      },
      "family_name": {
        "value_type": "string",
        "mandatory": true,
        "display": [
          {
            "name": "Family name"
          },
          {
            "name": "Family name",
            "locale": "en-US"
          },
          {
            "name": "Achternaam",
            "locale": "nl-NL"
          }
        ]
      },
      "email": {
        "value_type": "string",
        "mandatory": false,
        "display": [
          {
            "name": "E-mail"
          },
          {
            "name": "E-mail",
            "locale": "en-US"
          },
          {
            "name": "E-mailadres",
            "locale": "nl-NL"
          }
        ]
      },
      "eduperson_affiliation": {
        "value_type": "string",
        "mandatory": true,
        "display": [
          {
            "name": "Affiliation"
          },
          {
            "name": "Affiliation",
            "locale": "en-US"
          },
          {
            "name": "Betrekking",
            "locale": "nl-NL"
          }
        ]
      },
      "eduperson_scoped_affiliation": {
        "value_type": "string",
        "mandatory": true,
        "display": [
          {
            "name": "Affiliation (scoped)"
          },
          {
            "name": "Affiliation (scoped)",
            "locale": "en-US"
          },
          {
            "name": "Betrekking (scoped)",
            "locale": "nl-NL"
          }
        ]
      },
      "eduperson_entitlement": {
        "value_type": "string",
        "mandatory": false,
        "display": [
          {
            "name": "Entitlements"
          },
          {
            "name": "Entitlements",
            "locale": "en-US"
          },
          {
            "name": "Recht",
            "locale": "nl-NL"
          }
        ]
      },
      "eduperson_assurance": {
        "value_type": "string",
        "mandatory": true,
        "display": [
          {
            "name": "Assurance"
          },
          {
            "name": "Assurance",
            "locale": "en-US"
          },
          {
            "name": "Zekerheid",
            "locale": "nl-NL"
          }
        ]
      }
    }
  }
}