{
    "basePath": "/contexts/abcldp",
    "document": {
        "@context": {
            "@version": 1.1,
            "@protected": true,
            "sub":"{{ '{{' }} here {{ '}}' }}#sub",
            "eduperson_unique_id":"{{ '{{' }} here {{ '}}' }}#eduperson_unique_id",
            "shac_home_organization":"{{ '{{' }} here {{ '}}' }}#shac_home_organization",
            "name":"{{ '{{' }} here {{ '}}' }}#name",
            "given_name": "{{ '{{' }} here {{ '}}' }}#given_name",
            "family_name":"{{ '{{' }} here {{ '}}' }}#family_name",
            "email":"{{ '{{' }} here {{ '}}' }}#email",
            "eduperson_affiliation":"{{ '{{' }} here {{ '}}' }}#eduperson_affiliation",
            "eduperson_scoped_affiliation":"{{ '{{' }} here {{ '}}' }}#eduperson_scoped_affiliation",
            "eduperson_entitlement":"{{ '{{' }} here {{ '}}' }}#eduperson_entitlement",
            "eduperson_assurance":"{{ '{{' }} here {{ '}}' }}#eduperson_assurance"
        }
    }
}