NODE_ENV=development
HOSTNAME=0.0.0.0
PORT=5000
COOKIE_SIGNING_KEY={{ agent.signingkey }}
DB_CONNECTION_NAME=default
DB_SQLITE_FILE="database/agent_default.sqlite"
DB_ENCRYPTION_KEY={{ agent.encryptionkey }}
OID4VP_ENABLED="{% if verifier.enabled %}true{% endif %}"
OID4VCI_ENABLED="{% if issuer.enabled %}true{% endif %}"
OID4VP_WEBAPP_BASE_URI={{ agent.host }}
OID4VP_AGENT_BASE_URI={{ agent.host }}
# OID4VP_WEBAPP_BASE_PATH=/agent
AUTH_REQUEST_EXPIRES_AFTER_SEC=180
CONF_PATH="/opt/app/{{ agent.path }}/conf/{{ ecosystem }}"
UNIVERSAL_RESOLVER_RESOLVE_URL="https://dev.uniresolver.io/1.0/identifiers"
