CONF_PATH=conf

DB_HOST=db
DB_USER={{ database.user }}
DB_PASSWORD={{ database.password }}
DB_NAME={{ database.name }}
DB_SCHEMA={{ database.schema }}
DB_ENCRYPTION_KEY=C8cEocgwALLlTJ0n1TQzgu571rLsoWVu

PORT={{ agent.port }}
LISTEN_ADDRESS=0.0.0.0
BASEURL={{ protocol }}://{{ agent.hostname }}
BEARER_TOKEN={{ agent.bearerToken }}

