{
{% if not instance.alias is defined -%}
  "did": "{{ instance.provider }}:{{ instance.domain }}",
  "did_vm": "{{ instance.provider }}:{{ instance.domain }}#auth-key",
{% else -%}
  "alias": "{{ instance.alias }}",
{% endif %}
  "createArgs": {
    "provider": "{{ instance.provider }}",
    "options": {
      "kid": "auth-key",
      "keyType": "Ed25519",
      "keys": [{"type": "Ed25519", "isController": true }]
    }
  }
}
