{
  "didAlias": "did:key:{{ instance.name }}",
  "createArgs": {
    "provider": "did:key",
    "alias": "did:key:{{ instance.name }}",
    "options": {
      "kid": "auth-key",
      "keyType": "Secp256k1",
      "keys": [{"type": "Secp256k1", "isController": true }]
    }
  }
}
