{
    "basePath": "/contexts/gcldp",
    "document": {
        "@context": {
            "@version": 1.1,
            "@protected": true,
            "given": "{{ '{{' }} here {{ '}}' }}#given",
            "display": "{{ '{{' }} here {{ '}}' }}#display"
        }
    }
}