{
{% if instance.clientId is defined %}
  "clientId": "{{ instance.clientId }}",
  "useNonces": true,
{% else %}
  "useNonces": false,
{% endif %}
{% if instance.clientSecret is defined %}
  "clientSecret": "{{ instance.clientSecret }}",
{% endif %}
{% if instance.as is defined %}
  "authorizationEndpoint": "{{ instance.as }}",
{% endif %}
{% if statuslists and statuslists.install and instance.statusToken is defined %}
  "statusLists": {
{% for statuslist in statuslists.installations if statuslist.credential in instance.credentials %}
{% if not loop.first -%},{% endif -%}
    "{{ statuslist.credential }}": {
      "url": "https://{{ statuslists.domain }}/{{ statuslist.name }}/api/index",
      "revoke": "https://{{ statuslists.domain }}/{{ statuslist.name }}/api/revoke",
      "token": "{{ instance.statusToken }}"
    }
{% endfor %}
  },
{% endif %}
  "name": "{{ instance.name }}",
  "baseUrl": "{{ protocol }}://{{ basedomain }}/{{ instance.name }}",
  "adminToken": "{{ instance.adminToken }}",
  "did": "{{ instance.domain }}"
}
