{
{% if instance.clientId is defined %}
  "clientId": "{{ instance.clientId }}",
{% endif %}
{% if instance.clientSecret is defined %}
  "clientSecret": "{{ instance.clientSecret }}",
{% endif %}
{% if instance.as is defined %}
  "authorizationEndpoint": "{{ instance.as }}",
{% endif %}
{% if statuslists and statuslists.install and instance.statusToken is defined %}
  "statusLists": {
{% for statuslist in statuslists.installations if (instance.credentials.keys() | list | intersect(statuslist.credentials)) %}
{% if not loop.first  -%},{% endif -%}
{% for credential in statuslist.credentials if credential in (instance.credentials.keys() | list) %}
{% if not loop.first  -%},{% endif -%}
  "{{ credential }}": {
      "url": "https://{{ statuslists.domain }}/{{ statuslist.name }}/api/index",
      "revoke": "https://{{ statuslists.domain }}/{{ statuslist.name }}/api/revoke",
      "token": "{{ instance.statusToken }}"
  }
{% endfor %}
{% endfor %}
  },
{% endif %}
  "name": "{{ instance.name }}",
  "useNonces": true,
  "baseUrl": "{{ protocol }}://{{ basedomain }}/{{ instance.name }}",
  "adminToken": "{{ instance.adminToken }}",
  "did": "{{ instance.did }}"
}
