{
    "name": "{{ instance.name }}",
    "description": "{{ instance.description }}",
    "url": "{{ instance.url }}/api/create-offer",
    "status": "{{ instance.url }}/api/check-offer",
    "token": "{{ instance.token }}",
    "data": {{ instance.data | to_json }}
}
