{
  "correlationId": "{{ instance.name }}",
  "overwriteExisting": true,
  "metadata": {
    "credential_issuer": "{{ protocol }}://{{ basedomain }}/{{ instance.name }}",
    "credential_endpoint": "{{ protocol }}://{{ basedomain }}/{{ instance.name }}/credentials",{% if instance.as is defined %}
    "authorization_servers": ["{{ instance.as }}"],
{% endif %}    
    "display": [
      {
        "name": "{{ instance.pubName }}",
        "client_name": "{{ instance.pubName }}",
        "description": "{{ instance.pubName }}",
        "logo": {
          "uri": "{{ instance.branding.logo }}",
          "url": "{{ instance.branding.logo }}",
          "alt_text": "{{ instance.branding.logo_alttext }}"
        }
      }
    ],
    "credential_configurations_supported": {
      "{{ instance.credential }}": {
        "display": [
          {
            "name": "{{ instance.branding.name }}",
            "description": "{{ instance.branding.description }}",
            "text_color": "{{ instance.branding.color }}",
            "logo": {
              "uri": "{{ instance.branding.logo }}",
              "url": "{{ instance.branding.logo }}",
              "alt_text": "{{ instance.branding.logo_alttext }}"
            },
            "background_color": "{{ instance.branding.background_color }}",
            "background_image": {
              "uri": "{{ instance.branding.card }}",
              "url": "{{ instance.branding.card }}"
            }
          }
        ]
      }
    }
  }
}
