{
  "correlationId": "{{ instance.name }}",
  "overwriteExisting": true,
  "metadata": {
    "credential_issuer": "{{ protocol }}://{{ basedomain }}/{{ instance.name }}",
    "credential_endpoint": "{{ protocol }}://{{ basedomain }}/{{ instance.name }}/credentials",{% if instance.as is defined %}
    "authorization_servers": ["{{ instance.as }}"],
{% endif %}    
    "display": [
      {
        "name": "{{ instance.pubName }}",
        "client_name": "{{ instance.pubName }}",
        "description": "{{ instance.pubName }}",
        "logo": {
          "uri": "{{ instance.branding.logo }}",
          "url": "{{ instance.branding.logo }}",
          "alt_text": "{ instance.branding.logo_alttext }}"
        }
      }
    ],
    "credential_configurations_supported": {
      "BaseAcademicCredential": {
        "format": "jwt_vc_json",
        "cryptographic_binding_methods_supported": ["did:jwk", "did:key"],
        "format": "jwt_vc_json",
        "cryptographic_suites_supported": ["ES256"],
        "proof_types_supported": {
          "jwt": {
            "proof_signing_alg_values_supported": ["ES256"]
          }
        },
        "scope": "BaseAcademicCredential",{%if false %}
        "order": ["personName", "emailAddress", "organization", "affiliation", "assurance", "uid"],
{% endif %}
        "display": [
          {
            "name": "Base Academic Credential",
            "description": "Basic credential indicating affiliation with an academic institute",
            "text_color": "{{ instance.branding.color }}",
            "logo": {
              "uri": "{{ instance.branding.logo }}",
              "url": "{{ instance.branding.logo }}",
              "alt_text": "{{ instance.branding.logo_alttext }}"
            },
            "background_color": "{{ instance.branding.background_color }}",
            "background_image": {
              "uri": "{{ instance.branding.card }}",
              "url": "{{ instance.branding.card }}"
            }
          }],
        "credential_definition": {
          "type": ["VerifiableCredential", "BaseAcademicCredential"],
          "credentialSubject": {
            "uid": {
              "value_type": "string",
              "display": [{"name": "User ID"}]
            },
            "organization": {
              "value_type": "string",
              "display": [{"name": "Organization"}]
            },
            "personName": {
              "value_type": "string",
              "display": [{"name": "Organization"}]
            },
            "emailAddress": {
              "value_type": "string",
              "display": [{"name": "E-mail address"}]
            },
            "affiliation": {
              "value_type": "string",
              "display": [{"name": "Affiliation"}]
            },
            "assurance": {
              "value_type": "string",
              "display": [{"name": "Assurance"}]
            }
          }
        }
      }
    }
  }
}
