{
  "correlationId": "{{ instance.name }}",
  "overwriteExisting": true,
  "metadata": {
    "credential_issuer": "{{ protocol }}://{{ basedomain }}/{{ instance.name }}",
    "credential_endpoint": "{{ protocol }}://{{ basedomain }}/{{ instance.name }}/credentials",
    "display": [
      {
        "name": "{{ instance.pubName }}",
        "description": "{{ instance.pubName }}"
      }
    ],
    "credentials_supported": [
      {
        "display": [
          {
            "name": "Base Academic Credential",
            "description": "Basic credential indicating affiliation with an academic institute",
            "text_color": "#FFFFFF",
            "background_image": {
              "url": "https://i.ibb.co/kmfrH4F/tulips.png",
              "alt_text": "Black and white photo of tulips with one red tulip"
            },
            "logo": {
              "url": "https://i.ibb.co/NWQQ9kt/sphereon-logo.png",
              "alt_text": "Red square depicting Sphereon logo."
            }
          },
          {
            "locale": "en-US",
            "name": "Base Academic Credential",
            "description": "Basic credential indicating affiliation with an academic institute",
            "text_color": "#FFFFFF",
            "background_image": {
              "url": "https://i.ibb.co/kmfrH4F/tulips.png",
              "alt_text": "Black and white photo of tulips with one red tulip"
            },
            "logo": {
              "url": "https://i.ibb.co/NWQQ9kt/sphereon-logo.png",
              "alt_text": "Red square depicting Sphereon logo."
            }
          },
          {
            "locale": "nl-NL",
            "name": "Basis Academische Identiteit",
            "description": "Basis identiteit in relatie tot een academisch instituut",
            "text_color": "#FFFFFF",
            "background_image": {
              "url": "https://i.ibb.co/kmfrH4F/tulips.png",
              "alt_text": "Zwart-wit foto van tulpen met 1 rode tulp"
            },
            "logo": {
              "url": "https://i.ibb.co/NWQQ9kt/sphereon-logo.png",
              "alt_text": "Rood vlak met Sphereon logo"
            }
          }
        ],
        "order": [
            "uid",
            "organization",
            "personName",
            "emailAddress",
            "affiliation",
            "assurance"
        ],
        "credentialSubject": {
          "uid": {
            "value_type": "string",
            "display": [
              {
                "name": "User ID"
              },
              {
                "name": "User ID",
                "locale": "en-US"
              },
              {
                "name": "Gebruikers ID",
                "locale": "nl-NL"
              }
            ]
          },
          "organization": {
            "value_type": "string",
            "display": [
              {
                "name": "Organization"
              },
              {
                "name": "Organization",
                "locale": "en-US"
              },
              {
                "name": "Organisatie",
                "locale": "nl-NL"
              }
            ]
          },
          "personName": {
            "value_type": "string",
            "display": [
              {
                "name": "Organization"
              },
              {
                "name": "Organization",
                "locale": "en-US"
              },
              {
                "name": "Organisatie",
                "locale": "nl-NL"
              }
            ]
          },
          "emailAddress": {
            "value_type": "string",
            "display": [
              {
                "name": "E-mail address"
              },
              {
                "name": "E-mail address",
                "locale": "en-US"
              },
              {
                "name": "E-mail adres",
                "locale": "nl-NL"
              }
            ]
          },
          "affiliation": {
            "value_type": "string",
            "display": [
              {
                "name": "Affiliation"
              },
              {
                "name": "Affiliation",
                "locale": "en-US"
              },
              {
                "name": "Betrekking",
                "locale": "nl-NL"
              }
            ]
          },
          "assurance": {
            "value_type": "string",
            "display": [
              {
                "name": "Assurance"
              },
              {
                "name": "Assurance",
                "locale": "en-US"
              },
              {
                "name": "Bevestiging",
                "locale": "nl-NL"
              }
            ]
          }
        },
        "id": "BaseAcademicCredential",
        "types": [
          "VerifiableCredential",
          "BaseAcademicCredential"
        ],
        "format": "jwt_vc_json",
        "cryptographic_binding_methods_supported": [
          "did:web",
          "did:jwk"
        ],
        "cryptographic_suites_supported": [
          "ES256"
        ]
      }
    ]
  }
}
