{
  "format": "jwt_vc_json",
  "cryptographic_binding_methods_supported": ["did:jwk", "did:key"],
  "format": "jwt_vc_json",
  "cryptographic_suites_supported": ["ES256", "EdDSA"],
  "proof_types_supported": {
    "jwt": {
      "proof_signing_alg_values_supported": ["ES256"]
    }
  },
  "scope": "PID",
{%if false %}
  "order": [
      "personal_administrative_number",
      "document_number",
      "given_name",
      "family_name",
      "sex",
      "nationality",
      "birth_date",
      "birth_city",
      "birth_country",
      "age_birth_year",
      "age_in_years",
      "age_over_13",
      "age_over_18",
      "birth_place",
      "given_name_birth",
      "family_name_birth",
      "resident_address",
      "resident_street",
      "resident_house_number",
      "resident_postal_code",
      "resident_city",
      "resident_country",
      "expiry_date",
      "issuance_date",
      "issuing_authority",
      "issuing_jurisdiction",
      "issuing_country",
      "portrait"
  ],
{% endif %}
  "display": [{
        "name": "Principal ID",
        "description": "Galactic wide principal ID credential"
  }],
  "credential_definition": {
    "type": [
      "VerifiableCredential",
      "PID"
    ],
    "credentialSubject": {
      "personal_administrative_number": {
        "value_type": "string",
        "mandatory": true,
        "display": [
          {
            "name": "Personal Administrative Number"
          },
          {
            "name": "Personal Administrative Number",
            "locale": "en-US"
          },
          {
            "name": "BSN",
            "locale": "nl-NL"
          }
        ]
      },
      "document_number": {
        "value_type": "string",
        "mandatory": true,
        "display": [
          {
            "name": "Document Number"
          },
          {
            "name": "Document Number",
            "locale": "en-US"
          },
          {
            "name": "Document nummer",
            "locale": "nl-NL"
          }
        ]
      },
      "nationality": {
        "value_type": "string",
        "mandatory": true,
        "display": [
          {
            "name": "Nationality"
          },
          {
            "name": "Nationality",
            "locale": "en-US"
          },
          {
            "name": "Nationaliteit",
            "locale": "nl-NL"
          }
        ]
      },
      "given_name": {
        "value_type": "string",
        "mandatory": true,
        "display": [
          {
            "name": "Given name"
          },
          {
            "name": "Given name",
            "locale": "en-US"
          },
          {
            "name": "Voornaam",
            "locale": "nl-NL"
          }
        ]
      },
      "family_name": {
        "value_type": "string",
        "mandatory": true,
        "display": [
          {
            "name": "Family name"
          },
          {
            "name": "Family name",
            "locale": "en-US"
          },
          {
            "name": "Achternaam",
            "locale": "nl-NL"
          }
        ]
      },
      "birth_date": {
        "value_type": "string",
        "mandatory": true,
        "display": [
          {
            "name": "Date of Birth"
          },
          {
            "name": "Date of Birth",
            "locale": "en-US"
          },
          {
            "name": "Geboortedatum",
            "locale": "nl-NL"
          }
        ]
      },
      "family_name_birth": {
        "value_type": "string",
        "mandatory": false,
        "display": [
          {
            "name": "Family name at birth"
          },
          {
            "name": "Family name at birth",
            "locale": "en-US"
          },
          {
            "name": "Achternaam bij geboorte",
            "locale": "nl-NL"
          }
        ]
      },
      "given_name_birth": {
        "value_type": "string",
        "mandatory": false,
        "display": [
          {
            "name": "Given name at birth"
          },
          {
            "name": "Given name at birth",
            "locale": "en-US"
          },
          {
            "name": "Voornaam bij geboorte",
            "locale": "nl-NL"
          }
        ]
      },
      "birth_place": {
        "value_type": "string",
        "mandatory": true,
        "display": [
          {
            "name": "Place of Birth"
          },
          {
            "name": "Place of Birth",
            "locale": "en-US"
          },
          {
            "name": "Geboorteplaats",
            "locale": "nl-NL"
          }
        ]
      },
      "sex": {
        "value_type": "number",
        "mandatory": true,
        "display": [
          {
            "name": "Sex"
          },
          {
            "name": "Sex",
            "locale": "en-US"
          },
          {
            "name": "Geslacht",
            "locale": "nl-NL"
          }
        ]
      },
      "expiry_date": {
        "value_type": "string",
        "mandatory": true,
        "display": [
          {
            "name": "Expiry date"
          },
          {
            "name": "Expiry date",
            "locale": "en-US"
          },
          {
            "name": "Geldig tot",
            "locale": "nl-NL"
          }
        ]
      },
      "issuance_date": {
        "value_type": "string",
        "mandatory": true,
        "display": [
          {
            "name": "Issuance date"
          },
          {
            "name": "Issuance date",
            "locale": "en-US"
          },
          {
            "name": "Uitgegeven op",
            "locale": "nl-NL"
          }
        ]
      },
      "issuing_authority": {
        "value_type": "string",
        "mandatory": true,
        "display": [
          {
            "name": "Issuing authority"
          },
          {
            "name": "Issuing authority",
            "locale": "en-US"
          },
          {
            "name": "Uitgevende instantie",
            "locale": "nl-NL"
          }
        ]
      },
      "issuing_country": {
        "value_type": "string",
        "mandatory": true,
        "display": [
          {
            "name": "Issuing country"
          },
          {
            "name": "Issuing country",
            "locale": "en-US"
          },
          {
            "name": "Uitgevende natie",
            "locale": "nl-NL"
          }
        ]
      },
      "age_in_years": {
        "value_type": "number",
        "mandatory": false,
        "display": [
          {
            "name": "Age in years"
          },
          {
            "name": "Age in years",
            "locale": "en-US"
          },
          {
            "name": "Leeftijd in jaar",
            "locale": "nl-NL"
          }
        ]
      },
      "age_birth_year": {
        "value_type": "number",
        "mandatory": true,
        "display": [
          {
            "name": "Year of Birth"
          },
          {
            "name": "Year of Birth",
            "locale": "en-US"
          },
          {
            "name": "Geboortejaar",
            "locale": "nl-NL"
          }
        ]
      },
      "birth_country": {
        "value_type": "string",
        "mandatory": true,
        "display": [
          {
            "name": "Country of Birth"
          },
          {
            "name": "Country of Birth",
            "locale": "en-US"
          },
          {
            "name": "Geboorteland",
            "locale": "nl-NL"
          }
        ]
      },
      "birth_city": {
        "value_type": "string",
        "mandatory": true,
        "display": [
          {
            "name": "City of Birth"
          },
          {
            "name": "City of Birth",
            "locale": "en-US"
          },
          {
            "name": "Geboorteplaats",
            "locale": "nl-NL"
          }
        ]
      },
      "resident_address": {
        "value_type": "string",
        "mandatory": false,
        "display": [
          {
            "name": "Resident address"
          },
          {
            "name": "Resident address",
            "locale": "en-US"
          },
          {
            "name": "Woonadres",
            "locale": "nl-NL"
          }
        ]
      },
      "resident_country": {
        "value_type": "string",
        "mandatory": false,
        "display": [
          {
            "name": "Resident country"
          },
          {
            "name": "Resident country",
            "locale": "en-US"
          },
          {
            "name": "Land",
            "locale": "nl-NL"
          }
        ]
      },
      "resident_city": {
        "value_type": "string",
        "mandatory": false,
        "display": [
          {
            "name": "Resident city"
          },
          {
            "name": "Resident city",
            "locale": "en-US"
          },
          {
            "name": "Woonplaats",
            "locale": "nl-NL"
          }
        ]
      },
      "resident_postal_code": {
        "value_type": "string",
        "mandatory": false,
        "display": [
          {
            "name": "Resident postal code"
          },
          {
            "name": "Resident postal code",
            "locale": "en-US"
          },
          {
            "name": "Postcode",
            "locale": "nl-NL"
          }
        ]
      },
      "resident_street": {
        "value_type": "string",
        "mandatory": false,
        "display": [
          {
            "name": "Resident street"
          },
          {
            "name": "Resident street",
            "locale": "en-US"
          },
          {
            "name": "Straatnaam",
            "locale": "nl-NL"
          }
        ]
      },
      "resident_house_number": {
        "value_type": "string",
        "mandatory": false,
        "display": [
          {
            "name": "Resident house number"
          },
          {
            "name": "Resident house number",
            "locale": "en-US"
          },
          {
            "name": "Huisnummer en toevoeging",
            "locale": "nl-NL"
          }
        ]
      },
      "age_over_18": {
        "value_type": "number",
        "mandatory": true,
        "display": [
          {
            "name": "Age is over 18"
          },
          {
            "name": "Age is over 18",
            "locale": "en-US"
          },
          {
            "name": "Is ouder dan 18 jaar",
            "locale": "nl-NL"
          }
        ]
      },
      "age_over_13": {
        "value_type": "number",
        "mandatory": true,
        "display": [
          {
            "name": "Age is over 13"
          },
          {
            "name": "Age is over 13",
            "locale": "en-US"
          },
          {
            "name": "Is ouder dan 13 jaar",
            "locale": "nl-NL"
          }
        ]
      },
      "portrait": {
        "value_type": "image/jpeg",
        "mandatory": false,
        "display": [
          {
            "name": "Photo ID"
          },
          {
            "name": "Photo ID",
            "locale": "en-US"
          },
          {
            "name": "Portretfoto",
            "locale": "nl-NL"
          }
        ]
      },
      "issuing_jurisdiction": {
        "value_type": "string",
        "mandatory": true,
        "display": [
          {
            "name": "Issuing jurisdiction"
          },
          {
            "name": "Issuing jurisdiction",
            "locale": "en-US"
          },
          {
            "name": "Uitgevende juridictie",
            "locale": "nl-NL"
          }
        ]
      }
   }
  }
}