{
    "credentials": ["PID"],
    "path": "/vct/pid",
    "document": {
        "name": "{{ branding.en.nlgov_pid.name }}",
        "description": "{{ branding.en.nlgov_pid.description }}",
        "display": [{
            "lang": "en",
            "name": "{{ branding.en.nlgov_pid.name }}",
            "description": "{{ branding.en.nlgov_pid.description }}",
            "rendering": {
                "simple": {
                    "text_color": "{{ styling.nlgov.color }}",
                    "background_color": "{{ styling.nlgov.background_color }}"
                }
            }
        }, {
            "lang": "nl-NL",
            "name": "{{ branding.nl.nlgov_pid.name }}",
            "description": "{{ branding.nl.nlgov_pid.description }}",
            "rendering": {
                "simple": {
                    "text_color": "{{ styling.nlgov.color }}",
                    "background_color": "{{ styling.nlgov.background_color }}"
                }
            }
        }],
        "claims": [
            {
                "path": ["personal_administrative_number"],
                "sd": "allowed",
                "display": [
                    {
                        "name": "{{ branding.en.claims.personalAdministrativeNumber }}",
                        "description": "{{ branding.en.claims.personalAdministrativeNumberDescr }}",
                        "lang": "{{ branding.en.claims.lang }}"
                    },
                    {
                        "name": "{{ branding.nl.claims.personalAdministrativeNumber }}",
                        "description": "{{ branding.nl.claims.personalAdministrativeNumberDescr }}",
                        "lang": "{{ branding.nl.claims.lang }}"
                    }
                ]
            },
            {
                "path": ["document_number"],
                "sd": "allowed",
                "display": [
                    {
                        "name": "{{ branding.en.claims.documentNumber }}",
                        "description": "{{ branding.en.claims.documentNumberDescr }}",
                        "lang": "{{ branding.en.claims.lang }}"
                    },
                    {
                        "name": "{{ branding.nl.claims.documentNumber }}",
                        "description": "{{ branding.nl.claims.documentNumberDescr }}",
                        "lang": "{{ branding.nl.claims.lang }}"
                    }
                ]
            },
            {
                "path": ["nationality"],
                "sd": "allowed",
                "display": [
                    {
                        "name": "{{ branding.en.claims.nationality }}",
                        "description": "{{ branding.en.claims.nationalityDescr }}",
                        "lang": "{{ branding.en.claims.lang }}"
                    },
                    {
                        "name": "{{ branding.nl.claims.nationality }}",
                        "description": "{{ branding.nl.claims.nationalityDescr }}",
                        "lang": "{{ branding.nl.claims.lang }}"
                    }
                ]
            },
            {
                "path": ["given_name"],
                "sd": "allowed",
                "display": [
                    {
                        "name": "{{ branding.en.claims.givenName }}",
                        "description": "{{ branding.en.claims.givenNameDescr }}",
                        "lang": "{{ branding.en.claims.lang }}"
                    },
                    {
                        "name": "{{ branding.nl.claims.givenName }}",
                        "description": "{{ branding.nl.claims.givenNameDescr }}",
                        "lang": "{{ branding.nl.claims.lang }}"
                    }
                ]
            },
            {
                "path": ["family_name"],
                "sd": "allowed",
                "display": [
                    {
                        "name": "{{ branding.en.claims.familyName }}",
                        "description": "{{ branding.en.claims.familyNameDescr }}",
                        "lang": "{{ branding.en.claims.lang }}"
                    },
                    {
                        "name": "{{ branding.nl.claims.familyName }}",
                        "description": "{{ branding.nl.claims.familyNameDescr }}",
                        "lang": "{{ branding.nl.claims.lang }}"
                    }
                ]
            },
            {
                "path": ["birth_date"],
                "sd": "allowed",
                "display": [
                    {
                        "name": "{{ branding.en.claims.birthDate }}",
                        "description": "{{ branding.en.claims.birthDateDescr }}",
                        "lang": "{{ branding.en.claims.lang }}"
                    },
                    {
                        "name": "{{ branding.nl.claims.birthDate }}",
                        "description": "{{ branding.nl.claims.birthDateDescr }}",
                        "lang": "{{ branding.nl.claims.lang }}"
                    }
                ]
            },
            {
                "path": ["family_name_birth"],
                "sd": "allowed",
                "display": [
                    {
                        "name": "{{ branding.en.claims.familyNameBirth }}",
                        "description": "{{ branding.en.claims.familyNameBirthDescr }}",
                        "lang": "{{ branding.en.claims.lang }}"
                    },
                    {
                        "name": "{{ branding.nl.claims.familyNameBirth }}",
                        "description": "{{ branding.nl.claims.familyNameBirthDescr }}",
                        "lang": "{{ branding.nl.claims.lang }}"
                    }
                ]
            },
            {
                "path": ["given_name_birth"],
                "sd": "allowed",
                "display": [
                    {
                        "name": "{{ branding.en.claims.givenNameBirth }}",
                        "description": "{{ branding.en.claims.givenNameBirthDescr }}",
                        "lang": "{{ branding.en.claims.lang }}"
                    },
                    {
                        "name": "{{ branding.nl.claims.givenNameBirth }}",
                        "description": "{{ branding.nl.claims.givenNameBirthDescr }}",
                        "lang": "{{ branding.nl.claims.lang }}"
                    }
                ]
            },
            {
                "path": ["birth_place"],
                "sd": "allowed",
                "display": [
                    {
                        "name": "{{ branding.en.claims.birthPlace }}",
                        "description": "{{ branding.en.claims.birthPlaceDescr }}",
                        "lang": "{{ branding.en.claims.lang }}"
                    },
                    {
                        "name": "{{ branding.nl.claims.birthPlace }}",
                        "description": "{{ branding.nl.claims.birthPlaceDescr }}",
                        "lang": "{{ branding.nl.claims.lang }}"
                    }
                ]
            },
            {
                "path": ["sex"],
                "sd": "allowed",
                "display": [
                    {
                        "name": "{{ branding.en.claims.sex }}",
                        "description": "{{ branding.en.claims.sexDescr }}",
                        "lang": "{{ branding.en.claims.lang }}"
                    },
                    {
                        "name": "{{ branding.nl.claims.sex }}",
                        "description": "{{ branding.nl.claims.sexDescr }}",
                        "lang": "{{ branding.nl.claims.lang }}"
                    }
                ]
            },
            {
                "path": ["expiry_date"],
                "sd": "allowed",
                "display": [
                    {
                        "name": "{{ branding.en.claims.expiryDate }}",
                        "description": "{{ branding.en.claims.expiryDateDescr }}",
                        "lang": "{{ branding.en.claims.lang }}"
                    },
                    {
                        "name": "{{ branding.nl.claims.expiryDate }}",
                        "description": "{{ branding.nl.claims.expiryDateDescr }}",
                        "lang": "{{ branding.nl.claims.lang }}"
                    }
                ]
            },
            {
                "path": ["issuance_date"],
                "sd": "allowed",
                "display": [
                    {
                        "name": "{{ branding.en.claims.issuanceDate }}",
                        "description": "{{ branding.en.claims.issuanceDateDescr }}",
                        "lang": "{{ branding.en.claims.lang }}"
                    },
                    {
                        "name": "{{ branding.nl.claims.issuanceDate }}",
                        "description": "{{ branding.nl.claims.issuanceDateDescr }}",
                        "lang": "{{ branding.nl.claims.lang }}"
                    }
                ]
            },
            {
                "path": ["issuing_authority"],
                "sd": "allowed",
                "display": [
                    {
                        "name": "{{ branding.en.claims.issuingAuthority }}",
                        "description": "{{ branding.en.claims.issuingAuthorityDescr }}",
                        "lang": "{{ branding.en.claims.lang }}"
                    },
                    {
                        "name": "{{ branding.nl.claims.issuingAuthority }}",
                        "description": "{{ branding.nl.claims.issuingAuthorityDescr }}",
                        "lang": "{{ branding.nl.claims.lang }}"
                    }
                ]
            },
            {
                "path": ["issuing_country"],
                "sd": "allowed",
                "display": [
                    {
                        "name": "{{ branding.en.claims.issuingCountry }}",
                        "description": "{{ branding.en.claims.issuingCountryDescr }}",
                        "lang": "{{ branding.en.claims.lang }}"
                    },
                    {
                        "name": "{{ branding.nl.claims.issuingCountry }}",
                        "description": "{{ branding.nl.claims.issuingCountryDescr }}",
                        "lang": "{{ branding.nl.claims.lang }}"
                    }
                ]
            },
            {
                "path": ["age_in_years"],
                "sd": "allowed",
                "display": [
                    {
                        "name": "{{ branding.en.claims.ageInYears }}",
                        "description": "{{ branding.en.claims.ageInYearsDescr }}",
                        "lang": "{{ branding.en.claims.lang }}"
                    },
                    {
                        "name": "{{ branding.nl.claims.ageInYears }}",
                        "description": "{{ branding.nl.claims.ageInYearsDescr }}",
                        "lang": "{{ branding.nl.claims.lang }}"
                    }
                ]
            },
            {
                "path": ["age_birth_year"],
                "sd": "allowed",
                "display": [
                    {
                        "name": "{{ branding.en.claims.ageBirthYear }}",
                        "description": "{{ branding.en.claims.ageBirthYearDescr }}",
                        "lang": "{{ branding.en.claims.lang }}"
                    },
                    {
                        "name": "{{ branding.nl.claims.ageBirthYear }}",
                        "description": "{{ branding.nl.claims.ageBirthYearDescr }}",
                        "lang": "{{ branding.nl.claims.lang }}"
                    }
                ]
            },
            {
                "path": ["birth_country"],
                "sd": "allowed",
                "display": [
                    {
                        "name": "{{ branding.en.claims.birthCountry }}",
                        "description": "{{ branding.en.claims.birthCountryDescr }}",
                        "lang": "{{ branding.en.claims.lang }}"
                    },
                    {
                        "name": "{{ branding.nl.claims.birthCountry }}",
                        "description": "{{ branding.nl.claims.birthCountryDescr }}",
                        "lang": "{{ branding.nl.claims.lang }}"
                    }
                ]
            },
            {
                "path": ["birth_city"],
                "sd": "allowed",
                "display": [
                    {
                        "name": "{{ branding.en.claims.birthCity }}",
                        "description": "{{ branding.en.claims.birthCityDescr }}",
                        "lang": "{{ branding.en.claims.lang }}"
                    },
                    {
                        "name": "{{ branding.nl.claims.birthCity }}",
                        "description": "{{ branding.nl.claims.birthCityDescr }}",
                        "lang": "{{ branding.nl.claims.lang }}"
                    }
                ]
            },
            {
                "path": ["resident_address"],
                "sd": "allowed",
                "display": [
                    {
                        "name": "{{ branding.en.claims.residentAddress }}",
                        "description": "{{ branding.en.claims.residentAddressDescr }}",
                        "lang": "{{ branding.en.claims.lang }}"
                    },
                    {
                        "name": "{{ branding.nl.claims.residentAddress }}",
                        "description": "{{ branding.nl.claims.residentAddressDescr }}",
                        "lang": "{{ branding.nl.claims.lang }}"
                    }
                ]
            },
            {
                "path": ["resident_country"],
                "sd": "allowed",
                "display": [
                    {
                        "name": "{{ branding.en.claims.residentCountry }}",
                        "description": "{{ branding.en.claims.residentCountryDescr }}",
                        "lang": "{{ branding.en.claims.lang }}"
                    },
                    {
                        "name": "{{ branding.nl.claims.residentCountry }}",
                        "description": "{{ branding.nl.claims.residentCountryDescr }}",
                        "lang": "{{ branding.nl.claims.lang }}"
                    }
                ]
            },
            {
                "path": ["resident_city"],
                "sd": "allowed",
                "display": [
                    {
                        "name": "{{ branding.en.claims.residentCity }}",
                        "description": "{{ branding.en.claims.residentCityDescr }}",
                        "lang": "{{ branding.en.claims.lang }}"
                    },
                    {
                        "name": "{{ branding.nl.claims.residentCity }}",
                        "description": "{{ branding.nl.claims.residentCityDescr }}",
                        "lang": "{{ branding.nl.claims.lang }}"
                    }
                ]
            },
            {
                "path": ["resident_postal_code"],
                "sd": "allowed",
                "display": [
                    {
                        "name": "{{ branding.en.claims.residentPostalCode }}",
                        "description": "{{ branding.en.claims.residentPostalCodeDescr }}",
                        "lang": "{{ branding.en.claims.lang }}"
                    },
                    {
                        "name": "{{ branding.nl.claims.residentPostalCode }}",
                        "description": "{{ branding.nl.claims.residentPostalCodeDescr }}",
                        "lang": "{{ branding.nl.claims.lang }}"
                    }
                ]
            },
            {
                "path": ["resident_street"],
                "sd": "allowed",
                "display": [
                    {
                        "name": "{{ branding.en.claims.residentStreet }}",
                        "description": "{{ branding.en.claims.residentStreetDescr }}",
                        "lang": "{{ branding.en.claims.lang }}"
                    },
                    {
                        "name": "{{ branding.nl.claims.residentStreet }}",
                        "description": "{{ branding.nl.claims.residentStreetDescr }}",
                        "lang": "{{ branding.nl.claims.lang }}"
                    }
                ]
            },
            {
                "path": ["resident_house_number"],
                "sd": "allowed",
                "display": [
                    {
                        "name": "{{ branding.en.claims.residentHouseNumber }}",
                        "description": "{{ branding.en.claims.residentHouseNumberDescr }}",
                        "lang": "{{ branding.en.claims.lang }}"
                    },
                    {
                        "name": "{{ branding.nl.claims.residentHouseNumber }}",
                        "description": "{{ branding.nl.claims.residentHouseNumberDescr }}",
                        "lang": "{{ branding.nl.claims.lang }}"
                    }
                ]
            },
            {
                "path": ["age_over_18"],
                "sd": "allowed",
                "display": [
                    {
                        "name": "{{ branding.en.claims.ageOver18 }}",
                        "description": "{{ branding.en.claims.ageOver18Descr }}",
                        "lang": "{{ branding.en.claims.lang }}"
                    },
                    {
                        "name": "{{ branding.nl.claims.ageOver18 }}",
                        "description": "{{ branding.nl.claims.ageOver18Descr }}",
                        "lang": "{{ branding.nl.claims.lang }}"
                    }
                ]
            },
            {
                "path": ["age_over_13"],
                "sd": "allowed",
                "display": [
                    {
                        "name": "{{ branding.en.claims.ageOver13 }}",
                        "description": "{{ branding.en.claims.ageOver13Descr }}",
                        "lang": "{{ branding.en.claims.lang }}"
                    },
                    {
                        "name": "{{ branding.nl.claims.ageOver13 }}",
                        "description": "{{ branding.nl.claims.ageOver13Descr }}",
                        "lang": "{{ branding.nl.claims.lang }}"
                    }
                ]
            },
            {
                "path": ["portrait"],
                "sd": "allowed",
                "display": [
                    {
                        "name": "{{ branding.en.claims.portrait }}",
                        "description": "{{ branding.en.claims.portraitDescr }}",
                        "lang": "{{ branding.en.claims.lang }}"
                    },
                    {
                        "name": "{{ branding.nl.claims.portrait }}",
                        "description": "{{ branding.nl.claims.portraitDescr }}",
                        "lang": "{{ branding.nl.claims.lang }}"
                    }
                ]
            },
            {
                "path": ["issuing_jurisdiction"],
                "sd": "allowed",
                "display": [
                    {
                        "name": "{{ branding.en.claims.issuingJurisdiction }}",
                        "description": "{{ branding.en.claims.issuingJurisdictionDescr }}",
                        "lang": "{{ branding.en.claims.lang }}"
                    },
                    {
                        "name": "{{ branding.nl.claims.issuingJurisdiction }}",
                        "description": "{{ branding.nl.claims.issuingJurisdictionDescr }}",
                        "lang": "{{ branding.nl.claims.lang }}"
                    }
                ]
            }
        ]
    }
}