{
  "format": "vc+jwt",
  "cryptographic_binding_methods_supported": ["did:jwk", "did:key"],
  "cryptographic_suites_supported": ["ES256", "EdDSA"],
  "proof_types_supported": {
    "jwt": {
      "proof_signing_alg_values_supported": ["ES256"]
    }
  },
  "scope": "SupportCredential",
  "display": [{
        "locale": "en",
        "name": "Support Credential",
        "description": "Credential to indicate the assigned types and levels of support in educational environments"
  },{
        "locale": "nl",
        "name": "Ondersteuningscredential",
        "description": "Indicatie van de types en het niveau van toegewezen ondersteuning in het onderwijs"
  }],
  "credential_definition": {
    "type": [
      "VerifiableCredential",
      "SupportCredential"
    ],
    "credentialSubject": {
    }
  }
}
