{
  "format": "jwt_vc_json",
  "cryptographic_binding_methods_supported": ["did:jwk", "did:key"],
  "cryptographic_suites_supported": ["ES256", "EdDSA"],
  "proof_types_supported": {
    "jwt": {
      "proof_signing_alg_values_supported": ["ES256"]
    }
  },
  "scope": "StudentCardCredential",
  "display": [{
        "locale": "en",
        "name": "Studentcard Credential",
        "description": "Credential data linked to enrollment in a higher education institute"
  },{
        "locale": "nl",
        "name": "Collegekaart",
        "description": "Gegevens over de inschrijving bij een instituut voor hoger onderwijs"
  }],
  "credential_definition": {
    "type": [
      "VerifiableCredential",
      "StudentCardCredential"
    ],
    "credentialSubject": {
    }
  }
}
