DB_HOST=db
DB_USER={{ database.user }}
DB_PASSWORD={{ database.password }}
DB_NAME={{ database.name }}
DB_SCHEMA={{ verifier.schema }}
DB_ENCRYPTION_KEY={{ verifier.dbkey }}

PORT={{ verifier.port }}
LISTEN_ADDRESS=0.0.0.0
BASEURL={{ protocol }}://{{ verifier.hostname }}

LOG_SERVICE=http://log:5080/api/default/verifier/_json
LOG_USER={{ (openobserver.adminEmail + ':' + openobserver.adminPassword) | b64encode }}
