# The list of installations defines the subpaths on the veramo-agent that the agent will listen to.
# The configuration for these installations is now maintained in an external repository
installations:
  - name: mbob
    test:
      preauthcode: 9slAxx0AgJjHtS2hChULnPvExeYsLLpu
      credential: AcademicBaseCredential
      object:
        sub:
          - "12"
        eduperson_unique_id:
          - "abracadabra"
        given_name:
          - "test"
        family_name:
          - "janssen"
        email:
          - "test@example.org"
    adminToken: "{{ tokens.mbob.admin }}"
    hasTokenEndpoint: true

  - name: tun
    test:
      preauthcode: vG8T2WNVFGs0TSzx135XHDzNRWO3FFKM
      credential: AcademicBaseCredential
      object:
        sub:
          - "12"
        eduperson_unique_id:
          - "abracadabra"
        given_name:
          - "test"
        family_name:
          - "janssen"
        email:
          - "test@example.org"
    adminToken: "{{ tokens.tun.admin }}"
    hasTokenEndpoint: true

  - name: uvh
    test:
      preauthcode: Maefv4wHYigySVRQWyTgml52wWLUHH5d
      credential: AcademicBaseCredential
      object:
        sub:
          - "12"
        eduperson_unique_id:
          - "abracadabra"
        given_name:
          - "test"
        family_name:
          - "janssen"
        email:
          - "test@example.org"
    adminToken: "{{ tokens.uvh.admin }}"
    hasTokenEndpoint: true

  - name: hbot
    test:
      preauthcode: Maefv4wHYigySVRQWyTgml52wWLUHH5d
      credential: AcademicBaseCredential
      object:
        sub:
          - "12"
        eduperson_unique_id:
          - "abracadabra"
        given_name:
          - "test"
        family_name:
          - "janssen"
        email:
          - "test@example.org"
    adminToken: "{{ tokens.hbot.admin }}"
    hasTokenEndpoint: true

  - name: nlgov
    test:
      preauthcode: G0WAuJwHxtv2dqAMfoDsopRBjTpavttJ
      credential: PID
      object:
        personal_administrative_number: "42"
        document_number: "1"
        given_name: "test"
        family_name: "janssen"
        nationality: "example"
    adminToken: "{{ tokens.nlgov.admin }}"
    hasTokenEndpoint: true

  - name: nbgov
    test:
      preauthcode: WrBAlTNCBfUHDWHtYF0nkV9aJqBVIP5z
      credential: PID
      object:
        personal_administrative_number: "42"
        document_number: "1"
        given_name: "test"
        family_name: "janssen"
        nationality: "example"
    adminToken: "{{ tokens.nbgov.admin }}"
    hasTokenEndpoint: true

  - name: epi
    test:
      preauthcode: 4GOmhdYyDWfGXT7R21iQ0qB8aBFhYAc9
      credential: AcademicBaseCredential
      object:
        sub:
          - "12"
        eduperson_unique_id:
          - "abracadabra"
        given_name:
          - "test"
        family_name:
          - "janssen"
        email:
          - "test@example.org"
    adminToken: "{{ tokens.epi.admin }}"
    hasTokenEndpoint: true

  - name: sandbox
    test:
      preauthcode: bffy0TXajRTnoujKCIhfOnIUYjqmucRa
      credential: PID_JWT
      object:
        personal_administrative_number: "42"
        document_number: "1"
        given_name: "test"
        family_name: "janssen"
        nationality: "example"
    adminToken: "{{ tokens.sandbox.admin }}"
    hasTokenEndpoint: true

  - name: auth
    test:
      preauthcode: bffy0TXajRTnoujKCIhfOnIUYjqmucRa
      credential: GenericCredential
      object:
        given_name: "test"
        family_name: "janssen"
    adminToken: "{{ tokens.auth.admin }}"
    hasTokenEndpoint: false
