verifierdeploy:
  install: true
  dir: "{{ basedir }}/verifierdeploy"
  installations:
    - name: democv
      port: 8001
      domain: "demo-cv.verifier.{{ deploydomain }}"
      path: demo-cv
      verifier: demovp
      presentations: ABC,PID
      templates:
        - src: setTokens.j2
          dest: "app/html/setTokens.php"
