{
  "didAlias": "{{ instance.alias }}",
  "createArgs": {
    "provider": "{{ instance.provider }}",
    "alias": "{{ instance.alias }}",
    "options": {
      "kid": "auth-key",
      "keyType": "{{ instance.type }}",
      "keys": [{"type": "{{ instance.type }}", "isController": true }]
    }
  }
}
