{
    "name": "{{ instance.name }}",
    "did": "{{ instance.key }}",
    "adminToken": "{{ instance.token }}",
    "path": "{{ instance.path }}",
    "presentations": {{ instance.presentations | to_json }}
}
