- name: Ensure Docker directory exists
  file:
    state: directory
    path: "{{ docker.dir }}"
    mode: 0755
  become: true

- name: Copy generic Dockerfile for issuer
  ansible.builtin.template:
    src: dockerfile_generic.j2
    dest: "{{ docker.dir }}/issuer/Dockerfile"
  become: yes

- name: Copy generic Dockerfile for verifier
  ansible.builtin.template:
    src: dockerfile_generic.j2
    dest: "{{ docker.dir }}/verifier/Dockerfile"
  become: yes

- name: Copy generic Dockerfile for statuslist
  ansible.builtin.template:
    src: dockerfile_generic.j2
    dest: "{{ docker.dir }}/statuslists/Dockerfile"
  become: yes
  when: statuslists.enabled

- name: Remove ITB configuration
  ansible.builtin.shell:
    cmd: "rm -rf {{ docker.dir }}/itb/conf"
  become: yes
  when: itb.enabled

- name: Copy ITB configuration
  ansible.builtin.shell:
    cmd: "/usr/bin/cp -fr {{ configuration.dir }} {{ docker.dir }}/itb/conf"
  become: yes
  when: itb.enabled

- name: Copy manager Dockerfile
  ansible.builtin.template:
    src: dockerfile_manager.j2
    dest: "{{ docker.dir }}/manager/Dockerfile"
  become: yes
  when: itb.enabled

- name: Push Docker Env file
  template:
    src: docker.env.j2
    dest: "{{ docker.dir }}/.env"
  become: true

- name: Push Docker Compose configuration
  template:
    src: docker-compose.yml.j2
    dest: "{{ docker.dir }}/docker-compose.yml"
  become: true
