---
- name: Clone the Agent repository
  ansible.builtin.git:
    repo: "{{ sources.agent.repo }}"
    dest: "{{ agent.dir }}"
    version: "{{ sources.agent.version }}"
    force: yes
  become: true

- name: Clone the Verifier repository
  ansible.builtin.git:
    repo: "{{ sources.verifier.repo }}"
    dest: "{{ verifier.dir }}"
    version: "{{ sources.verifier.version }}"
    force: yes
  become: true
  when: enableverifier

- name: Clone the ITB Service repository
  ansible.builtin.git:
    repo: "{{ sources.itbservice.repo }}"
    dest: "{{ itb.dir }}"
    version: "{{ sources.itbservice.version }}"
    force: yes
  become: true
  when: itb.enabled

- name: Clone the StatusList agent repository
  ansible.builtin.git:
    repo: "{{ sources.statuslist.repo }}"
    dest: "{{ statuslists.dir }}"
    version: "{{ sources.statuslist.version }}"
    force: yes
  become: true
  when: statuslists.enabled

- name: Clone the Configuration Service repository
  ansible.builtin.git:
    repo: "{{ sources.configurations.repo }}"
    dest: "{{ configuration.dir }}"
    version: "{{ sources.configurations.version }}"
    force: yes
  become: true

- name: Clone the Verifier Deploy repository
  ansible.builtin.git:
    repo: "{{ sources.verifierdeploy.repo }}"
    dest: "{{ verifierdeploy.dir }}"
    version: "{{ sources.verifierdeploy.version }}"
    force: yes
  become: true
  when: verifierdeploy and verifierdeploy.install

- name: Clone the Agent Manager repository
  ansible.builtin.git:
    repo: "{{ sources.manager.repo }}"
    dest: "{{ manager.dir }}"
    version: "{{ sources.manager.version }}"
    force: yes
  become: true
  when: manager.enabled
